<div class="container">
    <div class="card">
        <div class="card-header bg-secondary text-white h2">Title</div>
        <p class="m-2 p-3">discription</p>
        <div class="card-body">
            <img style="height: 300px; width: auto;" class="img-fluid rounded" src="https://images3.alphacoders.com/115/1151247.jpg" alt="" srcset="">
                <div class="mt-4">
                    <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-heart"></i> Like</button>
                    <span class="m-3"><i class="bi bi-heart"></i> <strong>3245</strong></span>
                    <span><i class="bi bi-eye"></i> <strong>234</strong></span>
                    <span class="m-3"><i class="bi bi-clock"></i> <strong>20-01-2023</strong></span>
                </div>
            </form>
        </div>
    </div>
</div>