<div class="container">
    <div class="card">
        <div class="card-header bg-secondary text-white h2">Comments</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Images: 23</li>
                <li class="list-group-item">Likes: 34</li>
                <li class="list-group-item">Views: 48</li>
            </ul>
        </div>
    </div>
</div>